header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav-bar {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1em;
}

.enlace {
    text-decoration: none;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.redes {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1em;
}